* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Twinkle Star', cursive;
}

body {
    overflow-x: hidden;
}
/* ----------------------------------Form Login-------------------------------------- */
.container{
    padding-top: 5%;
    padding-left: 40%;
    background-image: linear-gradient(45deg, rgba(2, 33, 64, 0.5) 55%, rgba(45, 95, 93, 0.85)),url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

h1{
    font-size: 300%;
    color: rgb(243, 216, 174);
}

input{
    width: 35%;
    height: 40px;
}

#login{
    margin-top: 5%;
    background-color: rgb(219, 43, 43);
    color: aliceblue;
}

#padding{
    padding: 5%;
}

/* ----------------------------------------noel--------------------------------- */
#noel1{
    transform: translateX(-270%);
    animation-name: fly-to1;
    animation-duration: 20s;
    animation-delay: 15s;
    animation-play-state:running;
    animation-iteration-count:infinite;
}

#noel2{
    position: absolute;
    animation-name: fly-to2;
    animation-duration: 20s;
    animation-play-state:running;
    animation-iteration-count:infinite;
}

@-webkit-keyframes fly-to1{
    from{
        transform: translateX(-240%);
    }
    to{
        transform: translateX(255%);
    }

}

@-webkit-keyframes fly-to2{
    from{
        transform: translateX(250%);
        transform: translateY(-300%);
    }
    to{
        transform: translateX(-240%);
    }

}

/* ----------------------------------gift box-------------------------------- */
#buttonLog-in{
    position: fixed;
}

#gift-box{
    width: 50%;
    margin-left: 18%;
}

#log-in h2{
    font-size: 200%;
    font-weight: 900;
    position: absolute;
    transform: translate(60%,-250%);
    color: rgb(207, 17, 17);
}

@media screen and (max-width: 1280px){
    #gift-box{
        width: 40%;
        margin-left: 15%;
    }

    #log-in h2{
        font-size: 130%;
        font-weight: 900;
        position: absolute;
        transform: translate(85%,-300%);
    }
}

@media screen and (max-width: 1280px){
    #noel1,#noel2{
        width: 40%;
    }

    #gift-box{
        width: 30%;
        margin-left: 10%;
    }

    #log-in h2{
        font-size: 100%;
        font-weight: 900;
        position: absolute;
        transform: translate(75%,-300%);
    }
}



